#!/bin/sh

if type module >/dev/null; then
    module purge
    {%- for module in modules %}
    module load {{ module }}
    {%- endfor %}
fi
{%- for var, value in environment.items() %}
export {{ var }}={{ value }}
{%- endfor %}
cd "{{ cwd }}"
exec {{ " ".join(command) }}

