#!/bin/sh

module purge
{%- for module in modules %}
module load {{ module }}
{%- endfor %}

{%- for var, value in environment.items() %}
export {{ var }}={{ value }}
{%- endfor %}
cd "{{ cwd }}"
exec {{ " ".join(command) }}

